*{
    font-family: Arial, sans-serif;
}
/* 桌機版本 */
@media (min-width: 750px) {
    .content-about {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .text-about {
        flex: 1;
    }
    .about-image img {
        max-width: 400px;
    }
}

/* 手機版本 */
@media (max-width: 749px) {
    .content-about, .restaurant-features, .chef-section, .customer-reviews, .gallery {
        display: block;
        text-align: center;
    }
    .about-image img {
        width: 100%;
    }
}


#about {
    background: rgba(120, 152, 232, 0.1);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 15px;
}

.container-about {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #fff;
}

.content-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text-about {
    flex: 1;
    color: rgb(18, 15, 15);
    text-align: left;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 30px;
}

.restaurant-features ul {
    text-align: left;
    list-style: none;
    padding: 0;
}

.restaurant-features li {
    flex: 1;
    font-size: 1.1rem;
    margin: 10px 0;
    color:rgb(18, 15, 15);
}

.chef-section {
    text-align: center;
    color: rgb(18, 15, 15);
    margin-top: 30px;
}

.chef-profile img {
    width: 250px;
    border-radius: 5%;
}

.chef-text{
    text-align: left;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* 提示框 */
#messageBox{
    position: fixed;
      bottom: 20px;
      right: 20px;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      opacity: 0; /* 預設隱藏 */
      transition: opacity 0.3s ease-in-out; /* 平滑顯示 */
      pointer-events: none; /* 不影響點擊 */
  }
  #messageBox.show {    
    opacity: 1;     /* 當接近底部時，顯示 */
  }